@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

// Set your brand colors
$green: #064420;
$light-green: #8eeea8;
$white: #fdfaf6;
$brown: #9c9184;
$beige: #faf1e6;
$orange: #ff8c00;
$gray: #e0dede;

// Update Bulma's global variables
$family-sans-serif: "Inter", sans-serif;
$dark: $brown;
$light: $beige;
$primary: $green;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$footer-background-color: $green;
$title-color: $white;
$subtitle-color: $white;

$navbar-padding-vertical: 0.5rem;
$footer-padding: 2rem 5rem 2rem;

$box-background-color: $gray;

// navbar
#brand-title {
  font-family: "Oswald";
}

// register
h4.title {
  color: $green;
}

p.subtitle {
  color: $green;
  padding-top: 0.5rem;
}

// account profile
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 2rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

#box-account .box {
    $box-background-color: $beige;
}

// about us
#about-us {
  color: $green;
}

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
