@charset "utf-8";

// Google Font
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

// brand colors
$green: #064420;
$light-green: #8eeea8;
$white: #fdfaf6;
$brown: #9c9184;
$beige: #faf1e6;
$dark-beige: #e9e0d6;
$orange: #ff8c00;
$dark-orange: #693b01;
$gray: #e0dede;
$red: #eb3434;

// Bulma's global variables
$family-sans-serif: "Inter", sans-serif;
$dark: $brown;
$light: $beige;
$primary: $green;
$link: $orange;
$hover: $dark-orange;
$danger: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-placeholder-color: #a5a3a3;

$footer-background-color: $green;
$title-color: $white;
$subtitle-color: $white;

$navbar-padding-vertical: 0.5rem;
$footer-padding: 2rem 5rem 2rem;

$box-background-color: #e0dede;

// NAVBAR
#brand-title {
  font-family: "Oswald";
}

// REGISTER
h3.title, h4.title {
  color: $green;
}

p.subtitle {
  color: $green;
  padding-top: 0.5rem;
}

// ACCOUNT PROFILE
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 2rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

#box-account .box {
    $box-background-color: $beige;
}

// ABOUT US
#about-us {
  color: $green;
}

h5.filter-title {
  color: $green;
}

// PLANTS PAGE
.product-item {
  color: $green;
}

// Add to Cart button
.addCartBtn {
  color: $white;
}

.addCartBtn:hover {
  color: $hover;
}

.price {
  color: $orange;
}

$card-background-color: $dark-beige;
$card-footer-background-color: $link;

h1.plant-care, h2.subtitle{
  color: $green;
}

.quantity-input {
  $input-color: $green;
  $input-border-color: $green;
}

h5.plant-name {
  color: $green;
}

$divider-background-color: $green;

*, *:before, *:after {
  box-sizing: border-box;
}

.badge {
  background-color: $light-green;
  border-radius: 10px;
  color: $green;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.dropdown-width {
  width:30vw;   
 }

// $dropdown-menu-min-width: 25rem;

h5.checkout-label, h5.total-label {
  color: $green;
}

$modal-background-background-color: $beige;

// ADMIN

.px-1,
.p-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-1,
.p-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.css";
@import "../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";
