<head>
    <meta charset="utf-8">
    <meta name="description" content="Indoor Plant Delivery in the Philippines">
    <meta name="keywords" content="indoor plants, indoor plants philippines, plants, plants philippines, succulent, moon cactus, air plants, hanging plants, pots, plant delivery, indoor plant delivery">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sofie's Corner | Home</title>
    <link rel="shortcut icon" href="assets/logo/sofies_corner_logo_light.png">
    <link rel="stylesheet" href="css/mystyles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>