<nav class="navbar is-primary" style="min-height:unset">
    <div class="navbar-brand px-2">
        <a href="/" class="navbar-item">
            <h2 class="title is-3" id="brand-title">
                SOFIE'S CORNER
            </h2>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="plants" class="navbar-item">
                Plants
            </a>
            <a href="about" class="navbar-item">
                About Us
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <% if (locals.search_query) { %>
                            <input id="searchInput" class="input is-small" value="<%= search_query %>" type="text" placeholder="Search">
                        <% } else { %>
                            <input id="searchInput" class="input is-small" type="text" placeholder="Search">
                        <% } %>
                    </div>
                    <div class="control">
                      <a id="searchBtn" class="button is-link is-small">
                        <i class="fas fa-search"></i>
                      </a>
                    </div>
                </div>
            </div>
            <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-medium is-primary" aria-haspopup="true" aria-controls="dropdown-menu6">
                    <span>
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span id="cartItemsCount" class="badge">0</span>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu dropdown-width" id="dropdown-menu6" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                        <div class="container">
                            <div id="navCartDiv">
                                No items added to cart
                                <!-- S A M P L E  P R O D U C T  H T M L  C O D E
                                <div class="columns">
                                    <div class="column is-two-thirds">
                                        <div class="columns is-mobile is-centered">
                                            <div class="column is-one-third">
                                            <img src="https://unsplash.it/g/200/200" alt="">
                                            </div>
                                            <div class="column">
                                            <p class="plant-name has-text-weight-bold">Plant Name</p>
                                            <p class="price is-size-5">&#8369;0.00</p>
                                            <a href="">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                            <div class="field has-addons" style="width: 100px; border: 2px solid #9baa9f">
                                                <p class="control is-small">
                                                <a class="button has-text-centered">-</a>
                                                </span>
                                                </p>
                                                <p class="control is-small">
                                                <input class="input has-text-centered" type="text" placeholder="" value="1">
                                                </p>
                                                <p class="control is-small">
                                                <a class="button has-text-centered">+</a>
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                -->
                            </div>
                            <hr class="dropdown-divider">
                            <div id="total">
                                <div class="level">
                                    <div class="level-left">
                                    <div class="level-item">
                                        <p class="total subtitle">Total</p>
                                    </div>
                                    </div>
                                    <div class="level-right">
                                    <div class="level-item">
                                        <p id="cartTotalPrice" class="total subtitle">&#8369;0.00 </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="columns">
                                <div class="column is-half">
                                    <button onclick="window.location.href='/cart'" class="button is-block is-primary is-fullwidth">
                                        <span>View Cart</span>
                                    </button>
                                </div>
                                <div class="column">
                                    <button onclick="window.location.href='/checkout'" class="button is-block is-link is-fullwidth">
                                        <span>Checkout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- <a href="account_profile" class="px-2 py-1">
                <button class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-user fa-lg"></i>
                    </span>
                    <span id="nav_profile_first_name">
                        <% if (locals.first_name) { %> 
                            <%= first_name %> 
                        <% } else { %>
                            Log In
                        <% } %>    
                    
                    </span>
                </button>
            </a> -->

            <div class="px-2 py-1">
                <div class="dropdown is-right is-hoverable">

                    <% if (locals.first_name) { %> 
                    <button class="button is-primary">
                    <% } else { %>
                    <button class="button is-primary" onclick="window.location.href = '/login'" >
                    <% } %>
                        <span class="icon">
                            <i class="fas fa-user fa-lg"></i>
                        </span>
                        <span id="nav_profile_first_name">
                            <% if (locals.first_name) { %> 
                                <%= first_name %> 
                            <% } else { %>
                                Log In
                            <% } %>
                        </span>
                    </button>
                    <% if (locals.first_name) { %> 
                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a href="/account_profile">
                                        <span>Profile</span>
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <form action="/logout" method="post">
                                        <a href="javascript:;" onclick="parentNode.submit();">Logout</a>
                                        <input type="hidden" name="mess"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                </div>
            </div>


        </div>
    </div>

    
    <% if (locals.cart) { %> 
        <script>
            var cart = '<%- JSON.stringify(cart) %>';
            cart = JSON.parse(cart);
        </script>    
    <% } else { %>
        <script>
            var cart = null;
        </script>
    <% } %>
    <script>
        const navCartDiv = document.getElementById('navCartDiv');
        const cartItemsCount = document.getElementById('cartItemsCount');
        const cartTotalPrice = document.getElementById('cartTotalPrice') 
        const searchBtn = document.getElementById('searchBtn');
        const searchInput = document.getElementById('searchInput');

        searchBtn.addEventListener('click', e => {
            window.location.href = "/plants?query="+searchInput.value.trim();
        })
        searchInput.addEventListener('keyup', e => {
            if (e.key === "Enter"){
                window.location.href = "/plants?query="+searchInput.value.trim();
            }
        })

        function navRemoveFromCart(e){
            let plantID = e.parentNode.parentNode.parentNode.parentNode.querySelector('input[type=hidden]').value;
            fetch('/plants/remove_from_cart', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    plant_id: plantID
                })
            })
            .then(async response => {
                let data = await response.json();
                updateNavCart(data);
                if (typeof updateCart === 'function')
                    updateCart(data);
            });
        }

        function navAddToCart(e){
            let amount = parseInt(e.value);
            let plantID = e.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector('input[type=hidden]').value;
            
            fetch('/plants/add_to_cart', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    plant_id: plantID,
                    amount: amount,
                    action: 'rewrite'
                })
            })
            .then(async response => {
                let data = await response.json();
                updateNavCart(data);
                if (typeof updateCart === 'function')
                    updateCart(data);
            });
        }

        function updateNavCart(cart){
            // add products to nav cart
            let resultingHTML = ''
            let totalPrice = 0;
            Object.keys(cart).forEach(key => {
                let cartItem = cart[key];
                resultingHTML += '<div class="columns">\
                                    <div class="column is-two-thirds">\
                                        <div class="columns is-mobile is-centered">\
                                            <div class="column is-one-third">\
                                                <img src="'+ cartItem.plant.image_path +'" alt="">\
                                            </div>\
                                            <div class="column">\
                                                <p class="plant-name has-text-weight-bold">'+ cartItem.plant.plant_name +'</p>\
                                                <p class="price is-size-5">&#8369;'+ cartItem.plant.price.$numberDecimal +'</p>\
                                                <a onclick="'+ "navRemoveFromCart(this);" +'">Remove</a>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <div class="column">\
                                        <div class="field">\
                                            <div class="control">\
                                                <div class="field has-addons" style="width: 100px; border: 2px solid #9baa9f">\
                                                    <p class="control is-small">\
                                                        <input onchange="'+ "navAddToCart(this);" +'" class="input has-text-centered" type="number" placeholder="" value="'+ cartItem.amount +'">\
                                                    </p>\
                                                </div>\
                                            </div>\
                                        </div>\
                                    </div>\
                                    <input type="hidden" value="'+ key +'">\
                                </div>';
                totalPrice += cartItem.amount * parseFloat(cartItem.plant.price.$numberDecimal);
            });

            if (resultingHTML){
                navCartDiv.innerHTML = resultingHTML;
                cartItemsCount.innerText = Object.keys(cart).length;
                cartTotalPrice.innerText = '\u20B1'+totalPrice;
            } else { // when cart is empty
                navCartDiv.innerHTML = "No items added to cart";
                cartItemsCount.innerText = 0;
                cartTotalPrice.innerText = '\u20B1'+0;
            }
        }

        // get session cart
        if (cart){
            updateNavCart(cart);

            if (typeof updateCart === 'function')
                updateCart(cart);
        }
        else{
            console.log('no cart!');
        }
    </script>
</nav>