<nav class="navbar is-primary" style="min-height:unset">
    <div class="navbar-brand px-2">
        <a href="/" class="navbar-item">
            <h2 class="title is-3" id="brand-title">
                SOFIE'S CORNER
            </h2>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="plants" class="navbar-item">
                Plants
            </a>
            <a href="about" class="navbar-item">
                About Us
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                      <input class="input is-small" type="text" placeholder="Search">
                    </div>
                    <div class="control">
                      <a class="button is-link is-small">
                        <i class="fas fa-search"></i>
                      </a>
                    </div>
                </div>
            </div>
            <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-medium is-primary" aria-haspopup="true" aria-controls="dropdown-menu6">
                    <span>
                        <i class="fa fa-shopping-cart fa-lg"></i>
                        <span class="badge">0</span>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu dropdown-width" id="dropdown-menu6" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-two-thirds">
                                    <div class="columns is-mobile is-centered">
                                        <div class="column is-one-third">
                                          <img src="https://unsplash.it/g/200/200" alt="">
                                        </div>
                                        <div class="column">
                                          <p class="plant-name has-text-weight-bold">Plant Name</p>
                                          <p class="price is-size-5">&#8369;0.00</p>
                                          <a href="">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                          <div class="field has-addons" style="width: 100px; border: 2px solid #9baa9f">
                                            <p class="control is-small">
                                              <a class="button has-text-centered">-</a>
                                              </span>
                                            </p>
                                            <p class="control is-small">
                                              <input class="input has-text-centered" type="text" placeholder="" value="1">
                                            </p>
                                            <p class="control is-small">
                                              <a class="button has-text-centered">+</a>
                                            </p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <div id="total">
                                <div class="level">
                                    <div class="level-left">
                                    <div class="level-item">
                                        <p class="total subtitle">Total</p>
                                    </div>
                                    </div>
                                    <div class="level-right">
                                    <div class="level-item">
                                        <p class="total subtitle">&#8369;0.00 </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="columns">
                                <div class="column is-half">
                                    <button class="button is-block is-primary is-fullwidth">
                                        <span>View Cart</span>
                                    </button>
                                </div>
                                <div class="column">
                                    <button class="button is-block is-link is-fullwidth">
                                        <span>Checkout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <a href="account_profile" class="px-2 py-1">
                <button class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-user fa-lg"></i>
                    </span>
                    <span id="nav_profile_first_name">
                        <% if (locals.first_name) { %> 
                            <%= first_name %> 
                        <% } else { %>
                            Log In
                        <% } %>    
                    
                    </span>
                </button>
            </a>
        </div>
    </div>
</nav>