<% if(typeof flashObj !== 'undefined'){ %>
    <%= flashObj.message %>
<% } %>

<nav class="navbar is-primary has-shadow level">
    <p class="level-item has-text-centered">
        <a href="/">
            <img src="assets/logo/sofies_corner_logo_light.png" alt="site logo" style="max-height: 70px;">
        </a>
    </p>
</nav>