<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>

    <div class="main-content">
        <div class="section about-me" id="about-us">
          <div class="container">
                <div class="column is-12 about-us">
                    <h1 class="title has-text-centered section-title" id="about-us">About Us</h1>
                </div>
                <div class="columns is-mobile is-centered is-vcentered">
                    <div class="column is-3">
                        <img src="../assets/owner.png" alt=""/>
                    </div>
                    <div class="column is-6">
                        <p class="has-text-left">
                            Sofie's Corner is an online plant shop that provides good quality plants located in Parañaque City. It offers a wide variety of plants and flowers that can be taken care of in your home.  It was founded by <strong>Maria Sofia F. Alberto</strong> in 2019 when the Pandemic started. It all started when she was finding new hobbies to cure her boredom because of Pandemic. Planting became famous and she started to get interested with the idea of it.
                        </p>
                    </div>
                </div>
                <div class="columns is-mobile is-centered is-vcentered">
                    <div class="column is-6">
                        <p class="has-text-right">
                            She started to collect and take care plants like succulent and cactus. She thinks that taking care of plants can relieve stress and so she used this opportunity to make it as a business. She started to sell small plants like succulent and cactus. When the customers increased, customers demand to have more variety of plants. She expands her shop by providing more plants. Now, it can accommodate plant lovers from Metro Manila and CALABARZON province.
                        </p>
                    </div>
                    <div class="column is-3">
                        <img src="../assets/plant.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

</body>
</html>