<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <%- include('partials/nav2') %>

            <section class="hero is-halfheight">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-6 is-offset-3">
                            <div class="box">
                                <h4 class="title is-4">Forgot Password</h4>
                                <p class="subtitle is-6">Enter your email address and we'll send you a link to reset
                                    your password.</p>
                                <form>
                                    <div class="field">
                                        <label for="" class="label has-text-left"> Email</label>
                                        <p class="control has-icons-left has-icons-right">
                                            <input class="input is-focused" type="email" placeholder="Enter Email" />
                                            <span class="icon is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <button class="button is-block is-link is-fullwidth">Request password reset</button>
                                    <br>
                                    <p>
                                        Don't have an account yet? <a href="register">Register here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script src="scripts/script.js"></script>
    </body>
</html>