<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

            <div class="hero is-medium is-primary has-text-centered has-background"
                style="background-image: url('assets/hero_image.jpg'); background-size: cover; background-blend-mode: soft-light;">
                <div class="hero-body">
                    <div class="container">
                        <a href="">
                            <h2 class="title is-2">It's bloom season!</h2>
                            <h6 class="subtitle is-5">Shop Now</h6>
                        </a>
                    </div>
                </div>
            </div>

            <section class="container mt-5 mb-5 is-hidden-mobile">
                <h4 class="title is-4 has-text-centered">Plant Types</h4>
                <div class="columns features is-centered">
                    <div class="column is-3">
                        <div class="card is-shady">
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="assets/succulent_plant.jpg" alt="Placeholder image" class="modal-button"
                                        data-target="modal-image2">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <span class="button is-link modal-button" data-target="modal-image2">Browse
                                        Succulents</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card is-shady">
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="assets/air_plant.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <span class="button is-link modal-button" data-target="modal-card">Browse Air
                                        Plants</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card is-shady">
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="assets/hanging_plant.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <span class="button is-link modal-button" data-target="modal-card">Browse Hanging
                                        Plants</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card is-shady">
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="assets/moon_cactus.jpg" alt="Placeholder image" class="modal-button"
                                        data-target="modal-image2">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <span class="button is-link modal-button" data-target="modal-image2">Browse Moon
                                        Cactus</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card is-shady">
                            <div class="card-image">
                                <figure class="image is-4by4">
                                    <img src="assets/pots.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <span class="button is-link modal-button" data-target="modal-card">Browse
                                        Pots</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero mt-5 mb-5 is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title has-text-centered pb-5">What is Sofie's Corner?</h1>
                        <h2 class="subtitle">Sofie's Corner is an online plant shop that provides good quality plants
                            located in Parañaque City. It offers a wide variety of plants and flowers that can be taken
                            care of in your home.</h2>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <h1 class="title plant-care has-text-centered">Air Plant Blooming Care</h1>
                    <div class="columns is-mobile is-centered is-vcentered">
                        <div class="column is-3">
                            <img src="assets/air_plant.jpg" alt="">
                        </div>
                        <div class="column is-5">
                            <div class="content">
                                <ul>
                                    <li>Some flowers bloom for a day, while others can last much longer up to a week or
                                        so.</li>
                                    <li>Fertilizing is a good way to get your plant to bloom and produce pups.</li>
                                    <li>Be careful when watering, not to submerge the bloom.</li>
                                    <li>Once the bloom died, you can snip or remove to help encourage the next phase of
                                        growth.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-5 mb-5"
                        style="height:2px; border-width:0; color:gray; background-color:gray; width: 100%; margin: auto;">

                    <div class="container">
                        <div class="content">
                            <h4 class="subtitle is-4">Light</h4>
                            <p>Air plants prefer indirect sunlight and should be placed where they will receive adequate
                                light.</p>
                            <h4 class="subtitle is-4">Water</h4>
                            <p>Air plants need occasional misting 3-4 times a week or when they appear to be super dry.
                                Soak for at least 10-15 minutes twice a month.</p>
                            <h4 class="subtitle is-4">Soil</h4>
                            <p>Air plants get nutrients in the air through their leaves. It is important to place them
                                where they can enjoy a good air circulation.</p>
                            <h4 class="subtitle is-4">Root System</h4>
                            <p>Yes! Air plants has roots. It allows the air plant to grow even upside down.</p>
                        </div>
                    </div>
                </div>
            </section>

            <%- include('partials/footer') %>

            <script src="../scripts/target.js"></script>
            <script src="../scripts/script.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', () => {

                    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                    if ($navbarBurgers.length > 0) {

                        $navbarBurgers.forEach(el => {
                            el.addEventListener('click', () => {

                                const target = el.dataset.target;
                                const $target = document.getElementById(target);

                                el.classList.toggle('is-active');
                                $target.classList.toggle('is-active');

                            });
                        });
                    }

                });
                $(document).ready(function () {

                    $(".navbar-burger").click(function () {

                        $(".navbar-burger").toggleClass("is-active");
                        $(".navbar-menu").toggleClass("is-active");

                    });
                });
            </script>
    </body>
</html>