<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>        
        <%- include('partials/nav2') %>

            <section class="hero is-halfheight">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-6 is-offset-3">

                            <% if (locals.flashObj) { %>
                                <% if (flashObj.type == 'error') { %>
                                    <%- include('partials/flash-msgs/error'); %>
                                <% } %>
                            <% } %>

                            <div class="box">
                                <h4 class="title is-4">Register</h4>
                                <p class="subtitle is-6">Fill up the details.</p>
                                <form action="/register" method="post">
                                    <div class="field">
                                        <label for="" class="label has-text-left">First Name</label>
                                        <p class="control has-icons-left">
                                            <input class="input is-focused" type="text" placeholder="Enter First Name" name="first_name" required/>
                                            <span class="icon is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label has-text-left">Last Name</label>
                                        <p class="control has-icons-left">
                                            <input class="input" type="text" placeholder="Enter Last Name" name="last_name" required/>
                                            <span class="icon is-left">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label has-text-left">Email</label>
                                        <p class="control has-icons-left has-icons-right">
                                            <input class="input" type="email" placeholder="Enter Email" name="email" required/>
                                            <span class="icon is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="icon is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label for="" class="label has-text-left">Password</label>
                                        <p class="control has-icons-left has-icons-right">
                                            <input class="input" type="password" placeholder="Enter Password" name="password" required/>
                                            <span class="icon is-left">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <span class="icon is-right">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="content has-text-left">
                                        <p>Password must have:</p>
                                        <ul>
                                            <li>Be a minimum of 6 characters</li>
                                            <li>At least one lowercase letter (a-z)</li>
                                            <li>At least one lowercase letter (A-Z)</li>
                                            <li>At least one number (0-9)</li>
                                        </ul>
                                    </div>
                                    <button class="button is-block is-link is-fullwidth">Register</button>
                                    <br>
                                    <p>
                                        Already have an account? <a href="login">Login here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script src="scripts/script.js"></script>
            <script src="scripts/validation.js"></script>
    </body>
</html>